@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import "normalize";
@import "variables";
@import "mixin";
// @import "grid";

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jajbov');
  src:  url('../fonts/icomoon.eot?jajbov#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jajbov') format('truetype'),
    url('../fonts/icomoon.woff?jajbov') format('woff'),
    url('../fonts/icomoon.svg?jajbov#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  margin-bottom: 15px;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e900";
}
.icon-card:before {
  content: "\e901";
}
.icon-tooltip:before {
  content: "\e902";
}


*, *:after, *:before{
	@include box-sizing;
	margin: 0;
}

body{
	font-family: $main-font;
	color: $font-color;
	background: $color-bg url("../img/bg.jpg") no-repeat center center; 
  background-size: cover;
  font-size: $font-size;
	font-weight: $font-weight;
	line-height: 1;
	min-height: 100vh;
}

/* responsive IMG */
img {
  display: block;
  max-width: 100%;
  height: auto; 
}

.tabs{
	width: 100%;
	max-width: 600px;
	min-width: 300px;
	margin: 145px auto 0;
	background: #212534;

	// &:after {
	// 	content:"";
	// 	display:block;
	// 	clear:both;
	// }

	&__caption{
		padding: 0;
		list-style: none;
		background: #2b3040;
		text-transform: uppercase;
	  text-align: center;		

		.active {
			color: $font-color;
			border-bottom: 2px solid $font-color;
		}

		li{
			display: inline-block;
			padding: 32px 18px;
			margin-right: 34px;
			border-bottom: 2px solid transparent;
			color: #8d91a3;
			@include transition(all 0.5s ease);

			&:hover{
				color: $font-color;
			}
		}
	}

	&__content{
		display: none;
		padding-left: 47px;
		padding-right:40px;
		padding-top: 59px;
		font-size: 0;
		&.active {
			display: block;
		}
	}
}

.img-info {
	display: inline-block;
	vertical-align:top;
	max-width: 31.19%;
	font-size: $font-size;
	text-align: center;

	img[alt="stars"] {
		display: inline-block;
		margin-top: 26px;
	}
}

.content-info {
	@extend .img-info;
	max-width: 68.81%;
	text-align: left;
	padding-left: 40px;

	&__subtitle{
		width: 75%;
		margin-bottom: 43px;
	}

	&__title{
		@extend .content-info__subtitle;
		padding-top: 15px;
		margin-bottom: 15px;
		font-size: 32px;
	}

	&__score{
		position: absolute;
		top:0;
		right: 0; 
	}

	.wrapper{
		position: relative;
	}

	&__text{
		color: #b7bacd;
		line-height: 1.57;
		margin-bottom: 60px;
	}
	
	.wrapper-price {
		display: inline-block;

	}

	&__discount{
		font-size: 12px;
		line-height: 1.57;
		font-weight: 600;
		color: #fedc3f;
	}

	&__price{
		font-size: 32px;
	}
}

.btn {
	display: inline-block;
	float: right;
	padding: 22px 35px;
	margin-bottom: 63px;
	border: none;
	background-color: #13e28d;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
	@include transition( all 0.5s ease);

	&:hover {
		background-color: darken(#13e28d, 15%);
	}
}
